card{
    width: '70vw';
    justify-content: 'center'; 
    align-items: 'center';
    height: 'auto';
    top: '10vh';
    display: 'flex';
    flex-direction: 'column';
    background-image: 'url(https://s2.qwant.com/thumbr/474x323/7/5/15e7a9bcd784af960fb05e85addd943f5f08a5259bb5803b58a1b3f39473cc/th.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%3Fid%3DOIP.jytUH6XTOQ7pXAgURy6LYQHaFD%26pid%3DApi&q=0&b=1&p=0&a=0)';
    background-size: 'cover';
    border-radius: '20px';
    box-shadow: '0px 0px 10px 0px black';
    transform: 'translate(-50%)'; 
}