.custom-button {
  background-color: rgb(224, 127, 15);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
  justify-content: center;
  padding: 20px;
}

.custom-button:hover {
  background-color: #ffda95;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}